@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* Mana font icons */
@import 'mana-font/css/mana.min.css';

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
}
